{% extends 'base.html' %}

{% block css %}
    <style>
       body{
        background-image: url('https://wallpaperaccess.com/full/4478486.jpg');
        background-repeat: no-repeat;
        height: 100vh;
       
        background-size: cover;
    }
    </style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-8 mx-auto mt-5">
            {% include "notify.html" %}
            <form class="card" method="post" enctype="multipart/form-data">
                <div class="card-header">
                    <p class="lead">please upload CV/Resume file (Docx recommeded) </p>
                </div>
                <div class="card-body">
                    <div class="form-group">
                      <label for="imageId">Upload your most recent cv here</label>
                      <input type="file" name="file" class="form-control-file" name="imageId" id="imageId" placeholder="browse the document" aria-describedby="imageHelp">
                      <small id="imageHelp" class="form-text text-muted">please select document below 10mb</small>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">submit</button>
                </div>
            </form>
        </div>
    </div>
    
    {% if session['uploaded_file'] %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <img class="card-img-top" src="{{session['uploaded_file']}}" alt="" height="400">
            </div>
        </div>
    </div>
    {% endif %}
        
</div>
{% endblock %}
